<div align="center">
	<%= image_tag("cinema-banner.jpg") %>
</div>


<h1>Es <%= ein_mehrzahl %> vorhanden.</h1>
<p><%= link_to "Neuen Film anlegen", new_movie_path, type: "button", class: "button" %></p>

<%= render "type" %>


