<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
  </ul>
  <div class="top-bar-section">
    <ul>
	    	<li><%= link_to "Projekts", root_path, class:"button" %></li>
	      <li><%= link_to "Visitors", visitors_path, class:"button" %></li>
	  </ul>
    <ul>
    	<div class="right">
	    	<li><%= link_to "Neuer Besucher?", new_visitor_path, class:"button" %></li>
	      <li><%= link_to "Login", new_session_path, class:"button" %></li>
    	</div>
    </ul>
  </div>
</nav>
