.flash {
	text-align: center;
	font-size: 1.4em;}

.notice {
	color: orange;
	background-color: darkgreen;}

.alert {
	color: yellow;
	background-color: darkred;}

.mid-btn {
	width: 200px;}

.big-btn {
	width: 400px;}